.cezar{
    width: 90%;
    margin: 50px auto;
}
.cezar__decode-main{
    display: flex;
    align-content: center;
}
.cezar__encode-input{
    width: 50%;
}
.cezar__encode-output{
    width: 50%;
}
.text__encode{
    display: block;
    width: 90%;
    height: 100px;
    font-size: 18px;
    padding: 12px;
    margin: 0;
    border: 0;
}
.text_encode-key{
    width: 90%;
    margin-top: 20px;
    border: 0;
    outline: 0;
    height: 32px;
    padding: 12px;
}
.cezar__encode-btn{
    width: 100px;
    margin-top: 20px;
    border: 0;
    outline: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
}
.cezar__encode-output{
    background: #fff;
    padding: 12px;
}
.error{
    border: 2px solid red;
}
.cezer__code{
    width: 150px;
    padding: 12px;
    height: 56px;
    border: 0;
    margin: 20px 0 20px;
}
.cezer__lang{
    width: 150px;
    padding: 12px;
    height: 56px;
    border: 0;
    margin: 20px 20px 20px 0;
}